#segundo_elemento{ 
    margin-top:10px ;
   
    
}
input{
    width: 100px;
    height: 35px;

    }
    #botoes button{
        
        padding: 5px;
       
   }
   #botoes{
    margin-top: 10px;
   }
   
